/*-----------------INDEX---------------------*/
  /*** 1.0 BOX SIZING ***/
  /*** 2.0 COLORS ***/
  	/* 2.1 #535A60 - Graphite */
  	/* 2.2 #7DB4E0 - Light Blue from image */
  	/* 2.3 #705d86 - Pale Lavender */
    /* 2.4 #3369b0 - Dark Blue from image */
  /*** 3.0 TEXT & FONTS ***/
    /* 3.1 font-family: 'Kameron', serif; */
    /* 3.2 font-family: 'PT Sans', sans-serif; */
  /*** 4.0 PAGE & TOP CONSTRUCTION ***/
  /*** 5.0 SEARCH BOXES AND BUTTONS ***/
  /*** 6.0 MAP ***/
  /*** 7.0 WEATHER RESULTS ***/
/*------------------------------------------*/

/*** 1.0 BOX SIZING ***/
* {
  box-sizing: border-box;
}
/* this keeps border and padding inside the box measurement */

/*** 3.0 TEXT & FONTS ***/
@import url('https://fonts.googleapis.com/css?family=Kameron');
@import url('https://fonts.googleapis.com/css?family=PT Sans');
h1{
  font-family: 'Kameron', serif;
  font-size: 86px;
  text-align: center;
  margin: 0px;
  color: #FFF; /* white */
}
h2{
  font-family: 'Kameron', serif;
  font-size: 28px;
  color: #FFF; /* white */
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
}
h3{ /* used on weather banner only */
  font-family: 'Kameron', serif;
  font-size: 32px;
  font-weight: bold;
  color: #282828; /* Graphite */
  text-align: center;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}
h4{ /* used on instruction panel */
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  color: #282828; /* Graphite */
}
h5{ /* header on weather panels only */
  font-family: 'Kameron', serif;
  font-size: 28px;
  font-weight: bolder;
  color: #282828; /* Graphite */
  text-align: center;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}
p{ /* used on weather panels only */
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  color: #FFF; /* White */
}

/*** 4.0 PAGE & TOP CONSTRUCTION ***/
body{
  background-color: #282828; /* Graphite */

}
.container-fluid{
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.page-header{
  margin-top: 0px;
  margin-bottom: 20px;
  border: 0px;
  padding-top: 20px;
  height: 150px;
  background: url("../images/weather_2.png");
}

/*** 5.0 SEARCH BOXES AND BUTTONS ***/
#leftSide{
  width: 40%;
  float: left;
  padding: 0px;
  margin-top: 0px;
  margin-right: 15px;
  margin-bottom: 20px;
  margin-left: 40px;
  border: 0px;
}
#infoBox{
  height: 100px;
  padding-top: 7px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 0px;
  background-color: #3369b0; /* Dark Blue */
}
#placeSearch{
  height: 90px;
  padding-top: 7px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 0px;
  background-color: #3369b0; /* Dark Blue */
}
#weatherSearch{
  height: 90px;
  padding-top: 7px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  border-radius: 10px;
  border: 0px;
  background-color: #3369b0; /* Dark Blue */
}

/*** 6.0 MAP ***/
#map{
  width: 50%;
  height: 320px;
  float: right;
  border-radius: 10px;
  margin-top: 0px;
  margin-right: 40px;
  margin-bottom: 20px;
  margin-left: 0px;
  background-color: #3369b0; /* Dark Blue */
}

/*** 7.0 WEATHER RESULTS ***/
#weather-info { /* Container for banner and panels - no styling */
  width: 100%;
  height:300px;
  float: left;
	overflow-x: scroll;
  text-align: center;
  white-space: nowrap;
  display: none;
  background-color: #535A60;
}
#weatherBanner{
  height: 50px;
  padding-top: 10px;
  margin-bottom: 20px;
  background-color: #7DB4E0; /* Light Blue */
}

#panelContainer{
  padding: 0px;
  margin: 0px;

}

.weatherPanel{
  height: 250px;
  width: 225px;
  float: left;
  text-align:center;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  border: 0px;
  border-radius: 10px;
  background-color: #7DB4E0; /* Light Blue */
}
.icon{
  display: block;
  margin: auto;
}
.high{
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0px;
  font-size: 48px;
  font-weight: bolder;
  text-shadow: 0 0 10px #282828; /* Graphite */
}
.low{
  font-size: 28px;
  margin-bottom: 0px;
  padding: 0px;
  text-shadow: 0 0 3px #282828; /* Graphite */
}
.cap {
  text-transform: capitalize;
}
.desc{
  font-size: 18px;
}